/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-get-blocks {
	border: 1px dotted #f00;
}

.has-size-small {
	font-size: .5em;
}

.has-size-medium {
	font-size: 1em;
}

.has-size-large {
	font-size: 2em;
}